<%- include('./partials/head') %>
    <%- include('./partials/header') %>

        <main>

            <% api.principes.forEach(principe=> { %>
                <%= principe.titel %>
                    <%})%>

        </main>

        <%- include('./partials/foot') %>