<%- include('./partials/head') %>
    <%- include('./partials/header') %>

        <div class="header-style-2">

            <section class="header-style-title">
                <h1>Afbeeldingen</h1>
            </section>
        </div>

        <% api.principes.forEach(principe=> { %>
            <%= principe.titel %>
                <%})%>


                    <%- include('./partials/foot') %>